ion-toolbar{
    --background: #1D5D9B;
}
ion-content{
    --background: #FBEEAC;
}
ion-card{
    font-family: donuts;
    background-color:   #75C2F6;
    text-align: center;
}
ion-img{
    width: 400px;
    height: 40px;
    margin-right: 50px;
    margin-left: 50px;
}