  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Crea tu cuenta</ion-title>
      <ion-button class="btn_volver" (click)="volver()" color="secondary" slot="start">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-card>
    <div class="container">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="rut" label="Rut: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Nombres: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="apellido" label="Apellidos: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="contrasena1" type="password" label="Contraseña: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input [(ngModel)]="contrasena2" type="password" label="Confirme contraseña: " labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item> 
          <ion-select (ionChange)="mostrarComuna()" placeholder="Seleccione Región" [(ngModel)]="seleRegion">
            <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select> 
        </ion-item>
        <ion-item> 
          <ion-select [disabled]="disabledComuna" placeholder="Seleccione comuna" [(ngModel)]="seleComuna">
            <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select> 
        </ion-item>  
      </ion-list>
    </div>
  </ion-card>
    <ion-button class="btn_registrar" (click)="registrar()" color="secondary" shape="round">Registrarse</ion-button>
  </ion-content>
