ion-card{
    background-color:   #86cde0;
    text-align: center;
    margin-top: 10px;
    color:white;
    width: auto;
    
}
ion-card-header{
    text-align: center;
    color:white ;
}
ion-card-title{
    color: white ;
}