<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>restablecer contraseña</ion-title>
    <ion-button class="btn_volver" (click)="volver()" color="secondary" slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Has olvidado tu contraseña?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h6>Por favor, ingresa tu correo electrónico usado en el registro para restablecer tu contraseña</h6>
      <ion-input [(ngModel)]="correo" label="Correo: " label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
      <br>
      <ion-button (click)="btnRestablecer()" color="secondary" shape="round">Restablecer tu contraseña</ion-button>
      <br>
      <br>
      
    </ion-card-content>
  </ion-card>
</ion-content>

