.bienvenido{
    font-family: donuts;
    font-size: xx-large;
    text-align: left;
    color:#8d9090;
}

.cardOne{
    background-color:   #75C2F6;
    font-family: donuts;
    font-size: x-large;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.cardTwo{
    background-color:   #75C2F6;
    font-family: donuts;
    font-size: x-large;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1px;
}


.cardThree{
    background-color:   #75C2F6;
    font-family: donuts;
    font-size: x-large;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1px;
}

.menu1{
    margin-top: 50px;
    font-family: donuts;
    text-align: center;
    font-size: xx-large;
    color:#8d9090
}
ion-toolbar{
    --background: #1D5D9B;
}
ion-content{
    --background: #FBEEAC;
}
ion-button{
    font-family: donuts;

}
ion-img{
    width: 400px;
    height: 40px;
    margin-right: 100px;
    margin-left: 10px;
}