

ion-card{
    background-color:   #86cde0;
    text-align: center;
    margin-top: 10px;
    color:white;
    width: auto;
    
}

ion-card-title{
    color: white ;
}
ion-card-header{
    text-align: center;
    color:white ;
}
.log{
    color:white;
    
}

.restContrasena :hover{
    color:#8d9090
}

.crear :hover{
    color:#8d9090
}





