<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="btn_volver" (click)="volver()" color="secondary" slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
   
      <ion-card color="secondary">
        <h1>AQUI VA LA CAMARA xD</h1>
      </ion-card>
      
 
  
</ion-content>
  <ion-button (click)="confirmacion()" class="btn_scan" color="secondary" shape="round">Scan</ion-button>
<ion-card color="secondary">
  <h1>scanea el código QR para registrar tu asistencia</h1>
</ion-card>
