<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="btn_volver" (click)="volver()" color="secondary" slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- borre el dibujito -->
  <div>
    <ion-button (click)="scanear()" class="btn_scan" color="secondary" shape="round">Scan</ion-button>
  </div>
</ion-content>

  <ion-card color="secondary">
  <h1>Escanea el código QR para registrar tu asistencia</h1>
</ion-card>
