ion-card{
    font-family: donuts;
    background-color:   #75C2F6;
    text-align: center;
}
.btn_scan{
    font-family: donuts;
    text-align: center;
    margin-left: 170px;
    margin-top: 220px;
    
}
ion-toolbar{
    --background: #1D5D9B;
}
ion-content{
    --background: #FBEEAC;
}
ion-img{
    width: 400px;
    height: 40px;
    margin-left: 40px;
}



.btn_volver{
    margin-top: 5px;
    height: 10px;
    width: 60px;
    text-align: center;
}