<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="btn_volver" (click)="volver()" color="secondary" slot="start">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  <ion-button (click)="cerrarSesion()" color="secondary" slot="end">
  Cerrar Sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-title>¡Su asistencia fue registrada correctamente!</ion-card-title>
    <br>
    <div class="container">
      <h3>Asignatura: Aplicaciones Móviles</h3>
      <h3>Docente: Guillermo Villacura</h3>
      <h3>Sala: L6</h3>
      <h3>Fecha: 08-09-2023</h3>
    </div>
    


  </ion-card>

</ion-content>
