<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="/assets/img/vivo douc.png"></ion-img>
    <ion-button class="btn_volver" (click)="cerrarModal()" color="secondary" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let i of dataQr" color="secondary">
  <h3>Asignatura: {{i.asignatura}}</h3>
  <h3>Docente: {{i.docente}}</h3>
  <h3>Fecha: {{i.fecha}}</h3>
  <h3>Hora: {{i.hora}}</h3>
  <h3>Lección: {{i.leccion}}</h3>
  <h3>Sala: {{i.sala}}</h3>
  <h3>Sección: {{i.seccion}}</h3>

</ion-card>
</ion-content>
