ion-card-title{
    text-align: center;
}

.container{
    text-align: center;

}
ion-toolbar{
    --background: #1D5D9B;
}
ion-content{
    --background: #FBEEAC;
}
ion-card{
    background-color:   #75C2F6;
    text-align: center;
    margin-top: 100px;
    color:white;
    width: auto;
    font-family: donuts;
}
ion-img{
    width: 400px;
    height: 40px;
    margin-right: 5000px;
    margin-left: 1px;
}